<% page = { 
    'title' : 'PAGE_TITLE', 
    'key': 'INDEX_PAGE_NAME',
    'ngApp': "ListApp"
  } %>
<% assets = { 
  'css' : [], 
  'js' : [
          'angular-1.4.1/angular.js',
          'modules/list.js'
        ] 
  } %>
<div id="main" class="experiments">
  <div class="no-layout">
    <h2 class="font21 serif"><%- t('welcome_title')%></h2>
    <section class="basic">
      <p>
        <%- t('welcome_message')%> <img src="<%= img('icon/arrow_left_white_11x11.png') %>" alt="">
      </p>

			<div>

			<div ng-controller="ListCtrl as list">
				<div ng-repeat="item in list.list track by $index">
          <li ng-click="list.edit($index)">{{item}}</li> 
          <button class="fs-button fs-button--minor" ng-click="list.delete($index)">delete</button>
				</div>
			
        <button class="fs-button fs-button--recommended" ng-click="list.add()">Add item</button>




			</div>



			</div>
      <a href="sample" class="btn btn-water"><%- t('sample_link')%></a>
    </section>
  </div>
</div>
